PsychEngine/crash/PsychEngine_2025-06-10_20'13'31.txt .DS_Store .AppleDouble .LSOverride

.Spotlight-V100 .metadata_never_index

.fseventsd

.Trashes
.TemporaryItems

._*

Icon?
.VolumeIcon.icns

.com.apple.timemachine.donotpresent
.com.apple.timemachine.supported
.MobileBackups

*.icloud
*.icloud~*

.apdisk
.AppleDB
.AppleDesktop
.AppleX

.PKInstallSandboxManager
.PKInstallSandboxManager-SystemSoftware

.HFS+ Private Directory Data

.adobedb

.DS_Store
PsychEngine/.DS_Store
auto_commit_message.sh
AUTO_COMMIT_MESSAGE.txt
*.sh
.DS_Store
.DS_Store
